  fieldset {
    
    border-top: none !important;
    border-left:none !important;
    border-right:none !important;
    /*border-bottom: 1px groove #ddd !important;*/
    padding: 0 10px 10px 10px !important;

  }
.form-check-input {
    margin-left: .25rem;
    margin-top: 0.5rem;
}
.check-box label{
  padding-left: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
}
.check-box fieldset{
  padding-top: 10px !important;
}
.alert-success-polar{
    background: linear-gradient(to right,#85682f,#b2994b,#85682f) !important;
}
.btn-primary{
  background-color: transparent !important;
  border-color: #000 !important; 
}
  .submit-Btn, .card, .main-header .navbar-nav .nav-item{
    background: linear-gradient(to right,#85682f,#b2994b,#85682f) !important;
    border: #fff;
  }
  .show .dropdown-menu, .show .dropdown-menu a:hover{
    background: linear-gradient(to right,#85682f,#b2994b,#85682f) !important;
  }
  .content-wrapper {
     background: #ccc !important; 
  }
/*  input{
    border: none !important;
    background: none !important;
  }*/
  .field{
    background: linear-gradient(to right,#85682f,#b2994b,#85682f) !important;
    /*background: #191316;*/
    /* box-shadow: inset -8px -8px 8px #f7f7fa, inset 8px 8px 8px #e3ebec; */
    border-radius: .5rem;
    padding: 0.25rem;
    margin-top: 1rem;
    width: 100%;
  }
  .submit-btn{
    padding: 1rem;
  }
  .table-bordered {
    border: 1px solid #000 !important;
}
.table thead th {
    border-bottom: 2px solid #000 !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #000 !important;
}
textarea:focus,

option:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

legend{
  color: #fff;
}
h2{
  color: #fff;
  font-weight: 700;
}
select{
      background: #F5F5F5 !important;
}
.btn-danger , .page-item.active .page-link{
  background-color: transparent;
  border-color: #000; 
}
/*.page-item.active .page-link{
  background-color: transparent;
}*/
.sidebar{
	padding-top: 1rem !important;
	background: #000;
}
/*.card-primary:not(.card-outline) .card-header {
    background-color: #E3EBEC !important;
    border-bottom: 0;
}*/
.content-wrapper{
	background: #000 !important;
  padding-top: 3rem;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
	color: #000;
}
.nav-sidebar .nav-item>.nav-link{
  background: linear-gradient(to right,#85682f,#b2994b,#85682f) !important;
	color: #000;
}
.main-sidebar .brand-text, .sidebar .nav-link p, .sidebar .user-panel .info{
	color: #000;
}
.fa-book:before , .fa-table:before, .fa-pie-chart:before, .fa-circle-o:before{
	color: #000;
}
.fatmonk-image{
	padding-top: 0.2rem;
	margin:	0.2rem; 

}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
	background: #E3EBEC;
}
.main-header, .main-footer{
	background: #000 !important;
}
.logo2{
	width: 8rem;
}
.sidebar-dark-primary{
	background: #000 !important;
}
.fa-edit:before, .fa-pencil-square-o:before{
	color: #000;
}

.nav-img{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


  /* Styling h1 and links
  ––––––––––––––––––––––––––––––––– */
  
  
  .mocha_click > input, .vanilla_click  > input, .mint_click > input 
   {display: none;}  /* Remove radio buttons */
  
  .mocha_click > label:before, .vanilla_click  > label:before, .mint_click > label:before  { 
    content: "\f005"; /* Star */
    margin: -5px;
    font-size: 10px;
    font-family: FontAwesome;
    /* display: inline-block;  */
  }
  
  .mocha_click > label,.vanilla_click > label, .mint_click > label
  {
    color: #222222; /* Start color when not clicked */
  }
  
  .mocha_click > input:checked ~ label,.vanilla_click  > input:checked ~ label,.mint_click > input:checked ~ label
  { color: #ffca08 ; } /* Set yellow color when star checked */
  
  .mocha_click > input:hover ~ label,.vanilla_click  > input:hover ~ label, .mint_click > input:hover ~ label
  { color: #ffca08 ;  } /* Set yellow color when star hover */
  
  
  